<mat-spinner *ngIf="!characterDetail && !errorMsg" style="top:100px; margin:0 auto;"></mat-spinner>
<app-error-bar [errorMsg]="errorMsg"></app-error-bar>
<div class="container" *ngIf="characterDetail">
  <div style="padding: 20px; z-index: 1;" class="movie-info">
    <div class="movie-basic-info">
      <div class="movie-text-info">
        <h1>{{characterDetail.name}}</h1>
        <div style="display: flex;justify-content: space-between; padding: 0 16px;">
          <div style="display: flex;">
            <div>
              <h3>Height: {{characterDetail.height}}</h3>
              <h3>Mass: {{characterDetail.mass}}</h3>
              <h3>Hair Color: {{characterDetail.hair_color}}</h3>
              <h3>Skin Color: {{characterDetail.skin_color}}</h3>
            </div>
            <div style="padding-left: 100px;">
              <h3>Eye Color: {{characterDetail.eye_color}}</h3>
              <h3>Birth Year: {{characterDetail.birth_year}}</h3>
              <h3>Gender: {{characterDetail.gender}}</h3>
            </div>
          </div>
          <div class="avatar" [ngClass]="getAvatarClass(characterDetail.name) !== 'default-avatar' ? 'character-avatar ' + getAvatarClass(characterDetail.name) : 'default-avatar' "></div>
        </div>
      </div>
    </div>
  </div>
  <div style="padding: 20px; z-index: 1;" class="character-info">
    <h1>Films</h1>
    <mat-selection-list #films [multiple]="false">
      <mat-list-option *ngFor="let filmUrl of characterDetail.films let i = index" role="listitem" (click)="item.navigateToDetails(getMovieId(filmUrl))">
        <app-movie-list-item style="color: #ffffff" [movieId]="getMovieId(filmUrl)"></app-movie-list-item>
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>

