<div class="container">
  <mat-spinner *ngIf="!(loaded$ | async)" style="top:100px; margin:0 auto;" mode="indeterminate"></mat-spinner>
  <div *ngIf="((movies$ | async).length > 0)" style="display: flex; flex-direction: row">
    <mat-button-toggle-group name="viewModel" [value]="tableView$ | async">
      <mat-button-toggle [value]="true" (change)="toggleView($event.value)"><mat-icon>view_headline</mat-icon></mat-button-toggle>
      <mat-button-toggle [value]="false" (change)="toggleView($event.value)"><mat-icon>view_module</mat-icon></mat-button-toggle>
    </mat-button-toggle-group>
    <input id="movies-search" type="text" class="form-control" placeholder="search by title" (change)="onSaveKeyWord()" [(ngModel)]="searchKeyWord" />
  </div>

  <app-movie-view *ngIf="((movies$ | async).length > 0)" [movies]="(movies$ | async)"></app-movie-view>
</div>
